*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #515076;
  position: relative;
}

main {
  overflow: hidden;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  color: #515076;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: .3s ease;
}

p, li {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: none;
}

ul, ol {
  list-style: none;
}

.center {
  text-align: center;
}

.main-content {
  width: 113rem;
  margin: 0 auto;
  padding: 22rem 0;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: 1rem -4.4rem;
}

.products {
  position: relative;
}

.background__rotate {
  width: 80rem;
  height: 70rem;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: 0px 14rem;
  transform: rotate(180deg);
  position: absolute;
  bottom: -40rem;
  right: 0;
  z-index: -1;
}

.title {
  font-size: 7rem;
  line-height: 7.8rem;
  margin-bottom: 11rem;
  text-align: center;
  text-shadow: 2px 2px 0 #F7F7FA, 4px 4px 0 #A5A3B9;
  transition: .3s ease;
}

.title:hover {
  text-shadow: 2px 2px 0 #a9a8cd, 4px 4px 0 #3e39bb;
}

.cards-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
}

.img-wrapper {
  display: inline-block;
  width: 29rem;
  height: 26rem;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
  margin-bottom: 3rem;
  background-color: #ffffff;
}

.card {
  position: relative;
  width: 34rem;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem 3.5rem;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
  transition: .3s;
}

.card:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.56), 0 4px 15px 0 rgba(0, 0, 0, 0.12), 0 5px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:hover .card__title {
  color: #3e39bb;
}

.card:hover .card__price {
  color: #3e39bb;
}

.card img {
  transition: .3s ease;
}

.card img:hover {
  opacity: .8;
  transform: scale3d(1.1, 1.1, 1);
}

.card__category {
  color: #A5A3B9;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.card__title {
  line-height: 2.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card__description {
  margin-bottom: 1.5rem;
}

.card__subtitle {
  margin-bottom: .5rem;
}

.card__features {
  list-style-type: circle;
  margin: 0 0 2.5rem 1.5rem;
}

.card__features li::marker {
  font-size: 2rem;
}

.card__price {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  transition: .3s;
}

.card__turn {
  position: absolute;
  bottom: 9rem;
  right: 4rem;
  outline: none;
  border: none;
  text-decoration: none;
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 1.0625em;
  transition: all 0.4s ease-in 0s;
  overflow: hidden;
}

.card__turn:hover .card__turn-value {
  transform: translateX(0) translateY(-100%);
}

.card__turn-value {
  display: block;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #3e39bb;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.card__turn-duplicate {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  color: #cd1414;
  text-decoration: line-through;
  transform: translateX(0) translateY(100%);
}

.card__button {
  cursor: pointer;
  display: inline-block;
  color: #515076;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 1.5rem 4.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px #F7F7FA;
  background-image: linear-gradient(#F7F7FA 5%, #c1bfee 55%, #a9a8cd 67%, #c1bfee 51%, #F7F7FA 100%);
}

.card__price-info > .card__price:hover + .card__turn > .card__turn-value {
  transform: translateX(0) translateY(-100%);
}

.btn-animated {
  position: relative;
  overflow: hidden;
}

.btn-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 45px;
  height: 100%;
  transform: translateX(-85px) skewX(-45deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
  animation: flash 3s linear infinite;
}

@keyframes flash {
  20% {
    transform: translateX(500%) skewX(-45deg);
  }
  100% {
    transform: translateX(500%) skewX(-45deg);
  }
}
