*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #515076;
  position: relative;
}

main {
  overflow: hidden;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

h3, span {
  color: #515076;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: .3s ease;
}

h3:hover, span:hover {
  color: #3e39bb;
}

p, li {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: none;
}

ul, ol {
  list-style: none;
}

.center {
  text-align: center;
}

.main-content {
  width: 130rem;
  margin: 0 auto;
  padding: 22rem 8.5rem;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: 98px -44px;
}

.title {
  font-size: 7rem;
  line-height: 7.8rem;
  margin-bottom: 11rem;
  text-align: center;
  text-shadow: 2px 2px 0 #F7F7FA, 4px 4px 0 #A5A3B9;
  transition: .3s ease;
}

.title:hover {
  text-shadow: 2px 2px 0 #A5A3B9, 4px 4px 0 #3e39bb;
}

.cards-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
}

.img-wrapper {
  display: inline-block;
  width: 29rem;
  height: 26rem;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
  margin-bottom: 3rem;
  background-color: #ffffff;
}

.card {
  width: 34rem;
  height: auto;
  background-color: #F7F7FA;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem 3.5rem;
}

.card img {
  transition: .3s ease;
}

.card img:hover {
  opacity: .8;
  transform: scale3d(1.1, 1.1, 1);
}

.card__category {
  color: #A5A3B9;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__title {
  line-height: 2.7rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.card__description {
  margin-bottom: 1.5rem;
}

.card__subtitle {
  margin-bottom: .5rem;
}

.card__features {
  list-style-type: circle;
  margin: 0 0 2.5rem 1rem;
}

.card__features li {
  margin-bottom: .5rem;
}

.card__price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.card__price-info {
  font-weight: 700;
}

.card__button {
  cursor: pointer;
  display: inline-block;
  color: #515076;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.5rem 4.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px #F7F7FA;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(#F7F7FA 0%, #c1bfee 35%, #a9a8cd 50%, #c1bfee 51%, #F7F7FA 100%);
}

.btn-animated {
  position: relative;
  overflow: hidden;
}

.btn-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 45px;
  height: 100%;
  transform: translateX(-85px) skewX(-45deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
  animation: flash 3s linear infinite;
}

@keyframes flash {
  20% {
    transform: translateX(500%) skewX(-45deg);
  }
  100% {
    transform: translateX(500%) skewX(-45deg);
  }
}

.card__price-value {
  display: block;
  overflow: hidden;
  position: relative;
}

.card__price-value::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(0) translateY(100%);
}
