*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #515076;
  position: relative;
}

main {
  overflow: hidden;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

h3, span {
  color: #515076;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: .3s ease;
}

h3:hover, span:hover {
  color: #3e39bb;
}

p, li {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: none;
}

ul, ol {
  list-style: none;
}

.main-content {
  width: 130rem;
  margin: 0 auto;
  padding: 22rem 8.5rem;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: 98px -44px;
}

.title {
  font-size: 7rem;
  line-height: 7.8rem;
  margin-bottom: 11rem;
  text-align: center;
}

.cards-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
}

.card {
  width: 34rem;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.card img {
  margin-bottom: 3rem;
}

.card__category {
  color: #A5A3B9;
  margin-bottom: 5px;
}

.card__title {
  line-height: 2.7rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.card__description {
  margin-bottom: 1.5rem;
}

.card__subtitle {
  margin-bottom: .5rem;
}

.card__features {
  list-style-type: circle;
  margin: 0 0 2.5rem 1.5rem;
}

.card__price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__price-info {
  font-weight: 700;
}
